<!DOCTYPE html>

<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <%# Used for graphics in historical_values.html.erb %>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartkick@5.0.1/dist/chartkick.min.js"></script>
</head>

<body class="<%= controller_name.deconstantize %> <%= controller_name.demodulize %> <%= action_name %>">
  <main>
    <%= yield %>
  </main>
</body>

</html>
